<div class="clr-row">
    <h1>  Mascotas para adoptar</h1> 
</div>

<clr-datagrid>
    <clr-dg-column>Nombre</clr-dg-column>
    <clr-dg-row *ngFor="let mascota of mascotas">
        <clr-dg-cell>
            <a [routerLink]="['/card', mascota.id]"  >
                {{mascota.nombre}}
            </a>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{mascotas.length}} mascotas</clr-dg-footer>
</clr-datagrid>
