<h1>Agregar Mascota para adopción</h1>

<form clrForm [formGroup]="mascotasForm"clrLayout="horizontal" (ngSubmit)="onSubmit()">
    <clr-input-container>
        <label>Nombre</label>

        <input clrInput type="text" formControlName="nombre"/>
       
        <clr-control-error>Debe indicar un nombre</clr-control-error>
    </clr-input-container>

    <clr-input-container>
        <label>Tipo</label>
        <input clrInput type="text" formControlName="tipo" />

        <clr-control-error>Debe indicar un tipo</clr-control-error>
    </clr-input-container>
   
    <clr-input-container>
        <label>Edad</label>
        <input clrInput type="number" formControlName="edad" />
        
        <clr-control-error>Debe indicar una edad (Solo numeros positivos)</clr-control-error>
    </clr-input-container>
    
    <clr-input-container>
        <label>Descripcion</label>
        <input clrInput type="text" formControlName="descripcion" />
        
        <clr-control-error>Debe ingresar una descripcion</clr-control-error>
    </clr-input-container>
    
    <clr-input-container>
            <label>imagen</label>
            <input clrInput type="text" formControlName="img" />
            
            <clr-control-error>Debe ingresar una imagen</clr-control-error>
    </clr-input-container>

    <br/> 
    <button type="submit" [disabled]="!mascotasForm.valid" class="btn btn-success">Agregar</button>
    <button class="btn btn-primary" (click)= "reset($event)">Limpiar</button>
    <button class="btn btn-outline" (click)= "backMascotasListar($event)">Cancelar</button>
   
</form>
