<div class="clr-row">
    <h1>Mascotas para adoptar</h1> 
</div>

<div class="clr-row">
    <button class="btn btn-outline" routerLink="/mascotas-agregar" >AGREGAR MASCOTA</button>
</div>

<table class="table">
  <thead>
    <th class="left">Nombre</th>
    <th class="left">Edad</th>
    <th class="left">Tipo</th>
    <th class="left">Descripcion</th>
    <th class="left">Acciones</th>
  </thead>

  <tbody>
    <tr *ngFor ="let mascota of mascotas">
      <td class="left">
        <span> {{ mascota.nombre }} </span>
      </td>
      <td class="left">
        <span> {{ mascota.tipo }} </span>
      </td >
      <td class="left">
        <span> {{ mascota.edad }} </span>
      </td>
      <td class="left">
        <span> {{ mascota.descripcion }} </span>
      </td>
      <td class="left">
        <button class="btn btn-icon" [routerLink]="['/mascotas-editar', mascota.id]" ><clr-icon shape="pencil"></clr-icon></button>
        <button type ="button" class="btn btn-icon btn-danger" (click) = "delete(mascota.id)" ><clr-icon shape="trash"></clr-icon></button>
      </td>
    </tr>
  </tbody>
</table>
