<div class="card">
        <div class="card-img">
            <img src="{{mascota?.img}}">
        </div>
        <div class="card-block">
            <h4 class="card-title">Nombre: {{mascota?.nombre}}</h4>
            <p class="card-text">
                Tipo: {{mascota?.tipo}}
            </p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Edad: {{mascota?.edad}}</li>
            <li class="list-group-item">Descripcion: {{mascota?.descripcion}}</li>
            
        </ul>
        <button class="btn btn-primary btn-block" routerLink="/mascotas-adoptar">Mascotas Disponibles</button>
    </div>