<h1>Agregar Mascota para adopción</h1>

<form clrForm [formGroup]="mascotaForm" clrLayout="horizontal" (ngSubmit)="submit()">
    <clr-input-container>
        <label>Nombre</label>

        <input clrInput type="text" formControlName="nombre"/>
       
        <clr-control-error>Debe indicar un nombre</clr-control-error>
    </clr-input-container>

    <clr-input-container>
        <label>Tipo</label>
        <input clrInput type="text" formControlName="tipo" />

        <clr-control-error>Debe indicar un tipo</clr-control-error>
    </clr-input-container>
   
    <clr-input-container>
        <label>Edad</label>
        <input clrInput type="number" formControlName="edad" />
        
        <clr-control-error>Debe indicar una edad (Solo numeros positivos)</clr-control-error>
    </clr-input-container>
    
    <clr-input-container>
        <label>Descripcion</label>
        <input clrInput type="text" formControlName="descripcion" />
        
        <clr-control-error>Debe ingresar una descripcion</clr-control-error>
    </clr-input-container>
    
    <clr-input-container>
            <label>Imagen</label>
            <input clrInput type="text" formControlName="img" />
            
            <clr-control-error>Debe ingresar una imagen</clr-control-error>
        </clr-input-container>

    <br/> 
    <button type="submit" [disabled]="!mascotaForm.valid" class="btn btn-success">Actualizar</button>
    <button class="btn btn-outline" (click)= "backMascotasListar($event)">Cancelar</button>
   
</form>